<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JGDragNavVC-example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81A4C0D01F4AE2DB00DFA654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A4C0E91F4AE2DB00DFA654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A4C0F41F4AE2DB00DFA654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
